* {
  margin: 0;
}

.gray {
  background-color: gray;
  color: white;
}

.completed {
  text-decoration: line-through solid black;
}

header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.5em;
  text-align: center;
  background-color: rgb(199, 184, 184);
  padding: 30px;
}

p {
  background-color: rgb(66, 76, 85);
  color: white;
  font-family: sans-serif;
  padding: 20px 0;
  text-align: center;
  font-size: 1em;
}

#input-and-button {
  text-align: center;
  padding: 20px;
}
input {
  padding: 5px 10px;
}
#criar-tarefa {
  background-color: rgb(66, 76, 85);
  padding: 6.5px 10px;
  border: none;
  color: white;
}
#criar-tarefa:hover {
  opacity: 80%;
  transition: 1s;
}

.container-tasks {
  background-color: rgb(243, 240, 240);
  padding: 30px 40px 20px 0px;
}
ol {
  text-align: center;
  list-style-position: inside;
}
#buttons {
  text-align: center;
  padding: 20px 0;
  background-color: rgb(199, 184, 184);
}

#buttons button {
  background-color: rgb(66, 76, 85);
  color: white;
  padding: 5px 10px;
  border: none;
}

#buttons button:hover {
  opacity: 80%;
  transition: 1s;
}
